@font-face {
    font-family: 'YoungSerif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'outfit';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}



.menu_container {
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-top: 120px;
    width: 700px;
    color: hsl(24, 5%, 18%);
    margin-bottom: 120px;
    
}

.menu_item{
    display: flex;
    flex-direction: column;
    margin: 35px;
}

.menu_img {
    width: 630px;
    height: 300px;
    
    border-radius: 20px;
}

.menu_title{
    font-weight: 200;
    margin: 30px 0px;
    font-size: 35px;
    font-family: 'youngSerif', sans-serif;
}

.menu_description{
    font-family: 'outfit', sans-serif;
    font-size: 14px;
}

.menu_time{
    padding: 25px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 20px;
    margin-top: 25px;
}

.menu_time h3{
    font-family: 'outfit', monospace;
    font-size: 16px;
    font-weight: 200px;
    color: #5F2940;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu_time_list{
    font-family: 'outfit', sans-serif;
    font-size: 13px;
    list-style-position: inside;
    margin-top: 10px;
    list-style-type: disc; /* Use default bullets */

}

.menu_time_list li {
    margin-bottom: 10px;
}

.menu_time_list li::marker {
    color: #5F2940; /* Change bullet color */
    font-weight: bold;
}

.menu_ingredents {
    font-family: 'outfit', sans-serif;
    font-size: 14px;
    margin-top: 25px;
    list-style-type: disc; /* Use default bullets */
}

.menu_ingredents h2 {
    font-family: "youngSerif", sans-serif;
    font-size: 26px;
    font-weight: 100;
    color: #7C4D3C;
}

.menu_ingredents ul {
    margin-top: 10px;
    padding-left: 20px
}

.menu_ingredents li {
    margin-bottom: 10px;
    padding-left: 5px;
}

.menu_ingredents li::marker{
    color: #7C4D3C;
}

.menu_line {
    width: 100%;
    height: 0.5px;
    background-color: #7C4D3C;
    margin-top: 20px;
    opacity: 0.5;
    
}



/* Instructions */


.menu_instructions {
    font-family: 'outfit', none;
    font-size: 14px;
    margin-top: 25px;
    
}


.menu_instructions h2 {
    font-family: "youngSerif", sans-serif;
    font-size: 26px;
    font-weight: 100;
    color: #7C4D3C;
}

.menu_instructions ol {
    margin-top: 10px;
    padding-left: 20px;
}

.menu_instructions li {
    margin-bottom: 10px;
    padding-left: 10px;

}

.menu_instructions li::marker{
    color: #7C4D3C;
    font-weight: bold;
    

}

/* Nutritional */

.menu_nutrition {
    font-family: 'outfit', sans-serif;
    font-size: 14px;
    margin-top: 25px;
}

.menu_nutrition h2 {
    font-family: "youngSerif", sans-serif;
    font-size: 26px;
    font-weight: 100;
    color: #7C4D3C;
}

.menu_nutrition p {
    margin-top: 10px;
    font-size: 14px;
}

.menu_nutrition_table{
    margin-top: 10px;
    font-size: 16px;

}
.menu_nutrition_table_row {
    display: flex;
    margin-left: 30px;

}
.menu_nutrition_table_weight1{
    padding-left: 35%;
    font-weight: bold;
    color: #7C4D3C;
}
.menu_nutrition_table_weight2{
    padding-left: 224px;
    font-weight: bold;
    color: #7C4D3C;
}
.menu_nutrition_table_weight3{
    padding-left: 216px;
    font-weight: bold;
    color: #7C4D3C;
}
.menu_nutrition_table_weight4{
    padding-left: 240px;
    font-weight: bold;
    color: #7C4D3C;
}

.menu_nutrition_line {
    width: 100%;
    height: 0.5px;
    background-color: #7C4D3C;
    margin-top: 10px;
    opacity: 0.5;
    
}


@media (max-width: 375px) {
    .menu_container {
        width: 100%; /* Ajustar a largura para caber melhor na tela */
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0;
        flex-direction: column; /* Garante que o layout fique empilhado */
    }

    .menu_img {
        width: 100%; /* Faz a imagem se ajustar ao contêiner */
        height: auto; /* Mantém a proporção da imagem */
        border-radius: 15px; 
        position: absolute;
        border-radius: inherit;
        left: 0;
        top: 0;

    }

    .menu_item {
        margin: 20px;
    }

    .menu_title {
        font-size: 28px; /* Reduz o tamanho do título */
        text-align: start; /* Centraliza o texto */
        margin-top: 50%;
    }

    .menu_description {
        font-size: 12px; /* Diminui um pouco o tamanho do texto */
        text-align: justify;
    }

    .menu_time {
        padding: 15px;
        margin-top: 15px;
    }

    .menu_time h3 {
        font-size: 14px;
    }

    .menu_time_list {
        font-size: 12px;
    }

    /* Ajustar tabelas para evitar que fiquem desorganizadas */
    .menu_nutrition_table {
        font-size: 14px;
    }

    

    .menu_nutrition_table_weight1,
    .menu_nutrition_table_weight2,
    .menu_nutrition_table_weight3,
    .menu_nutrition_table_weight4 {
        padding-left: 0; /* Remove os espaçamentos fixos */
        text-align: center; /* Centraliza os textos */
    }

    .menu_nutrition_table_weight1{
        padding-left: 90px;
    }
    .menu_nutrition_table_weight2{
        padding-left: 104px;

    }
    .menu_nutrition_table_weight3{
        padding-left: 96px;

    }
    .menu_nutrition_table_weight4{
        padding-left: 120px;

    }

    .menu_nutrition_line {
        margin-top: 5px;
    }

    .menu_instructions ol {
        padding-left: 10px;
    }

    .menu_instructions li {
        font-size: 12px;
    }

    .menu_ingredents ul {
        padding-left: 10px;
    }

    .menu_ingredents li {
        font-size: 12px;
    }
}